In [32]:
import pandas as pd
poverty_data = pd.read_csv(r'/Users/lorrainedjones/Desktop/597data/child_poverty_2.csv', engine = 'python')
import os.path
os.path.exists(r'/Users/lorrainedjones/Desktop/597data/child_poverty_2.csv')

True

In [39]:
import warnings                                  # `do not disturbe` mode
warnings.filterwarnings('ignore')

import numpy as np                               # vectors and matrices
import pandas as pd                              # tables and data manipulations
import matplotlib.pyplot as plt                  # plots
import seaborn as sns                            # more plots

from dateutil.relativedelta import relativedelta # working with dates with style
from scipy.optimize import minimize              # for function minimization

import statsmodels.formula.api as smf            # statistics and econometrics
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy.stats as scs

from itertools import product                    # some useful functions
from tqdm import tqdm_notebook

In [41]:
race = pd.read_csv(r'/Users/lorrainedjones/Desktop/597data/child_poverty_2.csv', index_col=['Year'], parse_dates=['Year'])

In [34]:
poverty_data.head()

  Gender   Race   Age    Year  Percentage  Standard Error on Percentage
0   Male  White  0-17  2002.0         9.5                           0.5
1   Male  White  0-17  2003.0        10.0                           0.5
2   Male  White  0-17  2004.0        10.4                           0.5
3   Male  White  0-17  2005.0         9.8                           0.5
4   Male  White  0-17  2006.0         9.8                           0.5

In [35]:
poverty_data.columns

Index(['Gender', 'Race', 'Age', 'Year', 'Percentage',
       'Standard Error on Percentage'],
      dtype='object')

In [6]:
poverty_data['Gender'].value_counts()

Male      99
Female    99
Name: Gender, dtype: int64

In [9]:
pd.crosstab(index=poverty_data['Race'], columns=poverty_data['Gender'])

Gender    Female  Male
Race
Black         33    33
Hispanic      33    33
White         33    33

In [10]:
pd.crosstab(index=poverty_data['Race'],columns=poverty_data['Age'])

Age       0-17  0-5  6-17
Race
Black       22   22    22
Hispanic    22   22    22
White       22   22    22

In [11]:
pd.crosstab(index=poverty_data['Gender'],columns=poverty_data['Age'])

Age     0-17  0-5  6-17
Gender
Female    33   33    33
Male      33   33    33

In [14]:
# subset of Gender variable for needed data
Gender_male = poverty_data[poverty_data.Gender == 'Male']
print(Gender_male)

   Gender      Race   Age    Year  Percentage  Standard Error on Percentage
0    Male     White  0-17  2002.0         9.5                           0.5
1    Male     White  0-17  2003.0        10.0                           0.5
2    Male     White  0-17  2004.0        10.4                           0.5
3    Male     White  0-17  2005.0         9.8                           0.5
4    Male     White  0-17  2006.0         9.8                           0.5
..    ...       ...   ...     ...         ...                           ...
94   Male  Hispanic  6-17  2008.0        28.6                           1.5
95   Male  Hispanic  6-17  2009.0        30.3                           1.4
96   Male  Hispanic  6-17  2010.0        34.0                           1.4
97   Male  Hispanic  6-17  2011.0        31.6                           1.4
98   Male  Hispanic  6-17  2012.0        31.6                           1.4

[99 rows x 6 columns]

In [19]:
# higher dimension tables
year_tabs = pd.crosstab(index=poverty_data["Year"], 
                             columns=[poverty_data["Race"],
                                      poverty_data["Gender"],
                                     poverty_data["Age"]], margins=True)   # Include row and column totals

year_tabs

Race    Black                        Hispanic                         White  \
Gender Female          Male            Female          Male          Female
Age      0-17 0-5 6-17 0-17 0-5 6-17     0-17 0-5 6-17 0-17 0-5 6-17   0-17
Year
2002.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2003.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2004.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2005.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2006.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2007.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2008.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2009.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2010.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2011.0      1   1    1    1   1    1        1   1    1    1   1    1      1
2012.0      1   1    1    1   1    1        1   1    1    1   1    1      1
All        11  11   11   11  11   11       11  11   11   11  11   11     11

Race                           All
Gender          Male
Age    0-5 6-17 0-17 0-5 6-17
Year
2002.0   1    1    1   1    1   18
2003.0   1    1    1   1    1   18
2004.0   1    1    1   1    1   18
2005.0   1    1    1   1    1   18
2006.0   1    1    1   1    1   18
2007.0   1    1    1   1    1   18
2008.0   1    1    1   1    1   18
2009.0   1    1    1   1    1   18
2010.0   1    1    1   1    1   18
2011.0   1    1    1   1    1   18
2012.0   1    1    1   1    1   18
All     11   11   11  11   11  198

In [20]:
# variables containing subsets of the Race variable
Race_white = poverty_data[poverty_data.Race == "White"]
Race_black = poverty_data[poverty_data.Race == "Black"]
Race_hispanic = poverty_data[poverty_data.Race == "Hispanic"]
print(Race_white)
print(Race_black)
print(Race_hispanic)

     Gender   Race   Age    Year  Percentage  Standard Error on Percentage
0      Male  White  0-17  2002.0         9.5                           0.5
1      Male  White  0-17  2003.0        10.0                           0.5
2      Male  White  0-17  2004.0        10.4                           0.5
3      Male  White  0-17  2005.0         9.8                           0.5
4      Male  White  0-17  2006.0         9.8                           0.5
..      ...    ...   ...     ...         ...                           ...
171  Female  White  6-17  2008.0         9.9                           0.6
172  Female  White  6-17  2009.0        11.0                           0.6
173  Female  White  6-17  2010.0        11.7                           0.6
174  Female  White  6-17  2011.0        11.4                           0.6
175  Female  White  6-17  2012.0        12.1                           0.7

[66 rows x 6 columns]
     Gender   Race   Age    Year  Percentage  Standard Error on Percentage
11     Male  Black  0-17  2002.0        33.0                           1.5
12     Male  Black  0-17  2003.0        34.0                           1.5
13     Male  Black  0-17  2004.0        34.1                           1.5
14     Male  Black  0-17  2005.0        34.1                           1.5
15     Male  Black  0-17  2006.0        33.8                           1.5
..      ...    ...   ...     ...         ...                           ...
182  Female  Black  6-17  2008.0        30.9                           1.8
183  Female  Black  6-17  2009.0        33.5                           1.8
184  Female  Black  6-17  2010.0        36.5                           1.9
185  Female  Black  6-17  2011.0        37.5                           1.9
186  Female  Black  6-17  2012.0        37.2                           1.9

[66 rows x 6 columns]
     Gender      Race   Age    Year  Percentage  Standard Error on Percentage
22     Male  Hispanic  0-17  2002.0        28.5                           1.3
23     Male  Hispanic  0-17  2003.0        29.9                           1.3
24     Male  Hispanic  0-17  2004.0        29.4                           1.2
25     Male  Hispanic  0-17  2005.0        28.3                           1.2
26     Male  Hispanic  0-17  2006.0        26.6                           1.2
..      ...       ...   ...     ...         ...                           ...
193  Female  Hispanic  6-17  2008.0        29.7                           1.5
194  Female  Hispanic  6-17  2009.0        32.3                           1.5
195  Female  Hispanic  6-17  2010.0        32.1                           1.5
196  Female  Hispanic  6-17  2011.0        34.4                           1.5
197  Female  Hispanic  6-17  2012.0        33.0                           1.4

[66 rows x 6 columns]

In [8]:
# variables containing subsets of the Age variable
Age_017 = poverty_data[poverty_data.Age == 1]
Age_05 = poverty_data[poverty_data.Age == 2]
Age_617 = poverty_data[poverty_data.Age == 3]
print(Age_017)
print(Age_05)
print(Age_617)

     Gender  Race  Age  Year  Percentage  Standard Error on Percentage
0         1     1    1  2002         9.5                           0.5
1         1     1    1  2003        10.0                           0.5
2         1     1    1  2004        10.4                           0.5
3         1     1    1  2005         9.8                           0.5
4         1     1    1  2006         9.8                           0.5
..      ...   ...  ...   ...         ...                           ...
127       2     3    1  2008        31.4                           1.2
128       2     3    1  2009        33.5                           1.2
129       2     3    1  2010        33.8                           1.2
130       2     3    1  2011        35.2                           1.2
131       2     3    1  2012        34.5                           1.2

[66 rows x 6 columns]
     Gender  Race  Age  Year  Percentage  Standard Error on Percentage
33        1     1    2  2002        11.4                           0.9
34        1     1    2  2003        11.6                           0.9
35        1     1    2  2004        12.5                           0.9
36        1     1    2  2005        11.7                           0.9
37        1     1    2  2006        11.9                           0.9
..      ...   ...  ...   ...         ...                           ...
160       2     3    2  2008        34.0                           2.0
161       2     3    2  2009        35.6                           2.0
162       2     3    2  2010        36.9                           2.0
163       2     3    2  2011        36.6                           2.0
164       2     3    2  2012        37.2                           2.0

[66 rows x 6 columns]
     Gender  Race  Age  Year  Percentage  Standard Error on Percentage
66        1     1    3  2002         8.7                           0.5
67        1     1    3  2003         9.3                           0.5
68        1     1    3  2004         9.5                           0.5
69        1     1    3  2005         8.9                           0.5
70        1     1    3  2006         8.8                           0.5
..      ...   ...  ...   ...         ...                           ...
193       2     3    3  2008        29.7                           1.5
194       2     3    3  2009        32.3                           1.5
195       2     3    3  2010        32.1                           1.5
196       2     3    3  2011        34.4                           1.5
197       2     3    3  2012        33.0                           1.4

[66 rows x 6 columns]