In [1]:
import pandas as pd

In [7]:
poverty_data = pd.read_csv(r'/Users/lorrainedjones/Desktop/PyData_597/child_poverty_1.csv', engine = 'python')

In [9]:
import os.path
os.path.exists(r'/Users/lorrainedjones/Desktop/PyData_597/child_poverty_1.csv')

True

In [10]:
print(poverty_data)

            Charactistic   Sex  Race  Age    Year  Percentage  \
0        Total - Age 0-17  NaN   NaN  2.0  2002.0        16.7
1        Total - Age 0-17  NaN   NaN  2.0  2003.0        17.6
2        Total - Age 0-17  NaN   NaN  2.0  2004.0        17.8
3        Total - Age 0-17  NaN   NaN  2.0  2005.0        17.6
4        Total - Age 0-17  NaN   NaN  2.0  2006.0        17.4
...                   ...  ...   ...  ...     ...         ...
1048570               NaN  NaN   NaN  NaN     NaN         NaN
1048571               NaN  NaN   NaN  NaN     NaN         NaN
1048572               NaN  NaN   NaN  NaN     NaN         NaN
1048573               NaN  NaN   NaN  NaN     NaN         NaN
1048574               NaN  NaN   NaN  NaN     NaN         NaN

         Standard Error on Percentage
0                                 0.3
1                                 0.3
2                                 0.3
3                                 0.3
4                                 0.3
...                               ...
1048570                           NaN
1048571                           NaN
1048572                           NaN
1048573                           NaN
1048574                           NaN

[1048575 rows x 7 columns]

In [11]:
poverty_data.head()

,Charactistic,Sex,Race,Age,Year,Percentage,Standard Error on Percentage
0,Total - Age 0-17,NaN,NaN,2.0,2002.0,16.7,0.3
1,Total - Age 0-17,NaN,NaN,2.0,2003.0,17.6,0.3
2,Total - Age 0-17,NaN,NaN,2.0,2004.0,17.8,0.3
3,Total - Age 0-17,NaN,NaN,2.0,2005.0,17.6,0.3
4,Total - Age 0-17,NaN,NaN,2.0,2006.0,17.4,0.3

In [14]:
poverty_data.describe()

,Sex,Race,Age,Year,Percentage,Standard Error on Percentage
count,396.000000,495.000000,594.000000,594.000000,594.000000,594.000000
mean,1.500000,3.000000,2.333333,2007.000000,22.146296,1.558923
std,0.500633,1.415644,0.817185,3.164943,9.636650,1.004323
min,1.000000,1.000000,1.000000,2002.000000,6.800000,0.300000
25%,1.000000,2.000000,2.000000,2004.000000,13.500000,0.600000
50%,1.500000,3.000000,3.000000,2007.000000,20.500000,1.500000
75%,2.000000,4.000000,3.000000,2010.000000,30.600000,2.100000
max,2.000000,5.000000,3.000000,2012.000000,47.600000,5.000000

In [15]:
poverty_data.columns

Index(['Charactistic ', 'Sex', 'Race', 'Age', 'Year', 'Percentage',
       'Standard Error on Percentage'],
      dtype='object')

In [16]:
poverty_data['Sex'].value_counts()

1.0    198
2.0    198
Name: Sex, dtype: int64

In [18]:
freq = poverty_data['Race'].value_counts(1)

In [19]:
print(freq)

5.0    0.2
4.0    0.2
1.0    0.2
3.0    0.2
2.0    0.2
Name: Race, dtype: float64

In [21]:
pd.crosstab(index=poverty_data['Race'], columns=poverty_data['Sex'])

Sex   1.0  2.0
Race
1.0    33   33
2.0    33   33
3.0    33   33
4.0    33   33
5.0    33   33

In [22]:
pd.crosstab(index=poverty_data['Race'],columns=poverty_data['Age'])

Age   1.0  2.0  3.0
Race
1.0    22   22   55
2.0    22   22   55
3.0    22   22   55
4.0    22   22   55
5.0    22   22   55

In [23]:
pd.crosstab(index=poverty_data['Sex'],columns=poverty_data['Age'])

Age  1.0  2.0  3.0
Sex
1.0    0    0  198
2.0   66   66   66